<div class="bg-gradient d-md-flex flex-column align-items-center px-5 py-4 d-none ps-fixed">
  <h1 class="text-light fs-2 w-100 text-center cursor-pointer" (click)="router.navigate([''])">
    InvestTrack
  </h1>
  <div class="menu mt-5">
    <button
        class="btn fs-5 border-3 pb-2 d-flex justify-content-center align-items-center gap-2 text-light w-100
        border-top-0 border-end-0 border-start-0 border-bottom-5 rounded-0  border-light"
        (click)="dashboardBehaviorService.toggleDashboardTab('wallet')"
        [ngClass]="{'border-bottom-0': dashboardBehaviorService.toggleDashboardTab$() != 'wallet'}">
        <i class="bi bi-wallet2"></i>
        Carteira
    </button>
    <button
          class="btn mt-5 fs-5 border-3 pb-2 d-flex justify-content-center align-items-center gap-2 text-light w-100
          border-top-0 border-end-0 border-start-0 border-bottom-5 rounded-0  border-light"
          (click)="dashboardBehaviorService.toggleDashboardTab('transactions')"
          [ngClass]="{'border-bottom-0': dashboardBehaviorService.toggleDashboardTab$() != 'transactions'}">
          <i class="bi bi-cash-stack"></i>
          Transações
    </button>
  </div>
  <div class="mt-auto">
    <a (click)="logout()" class="text-light fs-5">
        <i class="bi bi-box-arrow-right"></i>
        Sair
    </a>
  </div>
</div>
<nav class="navbar navbar-expand-lg navbar-light bg-light py-3 d-block d-md-none">
  <div class="container d-flex w-100 d-flex justify-content-between">
    <a class="navbar-brand text-light" href="#">INVESTTRACK</a>
    <div class="d-flex align-items-center gap-3">
      <button class="btn btn-personalized">
        <i class="bi bi-person pe-1"></i>
        {{userAuthenticationService.getUserAuthenticated.name.split(' ')[0]}}
      </button>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar" aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    </div>
    <div class="collapse navbar-collapse justify-content-center align-items-center" id="navbar">
      <ul class="navbar-nav d-flex justify-content-center w-100 text-center gap-5">
        <li class="nav-item text-light mt-3"
        [ngClass]="{'border-bottom': dashboardBehaviorService.toggleDashboardTab$() == 'wallet'}"
        (click)="dashboardBehaviorService.toggleDashboardTab('wallet')">
          <i class="bi bi-wallet2"></i>
          Carteira
        </li>
        <li class="nav-item text-light"
        [ngClass]="{'border-bottom': dashboardBehaviorService.toggleDashboardTab$() == 'transactions'}"
        (click)="dashboardBehaviorService.toggleDashboardTab('transactions')">
          <i class="bi bi-cash-stack"></i>
          Transações
        </li>
        <li class="nav-item text-light">
          <a (click)="logout()" class="text-light fs-5">
            <i class="bi bi-box-arrow-right"></i>
            Sair
        </a>
        </li>
      </ul>
    </div>
  </div>
</nav>

