@if(walletBehaviorService.getIsLoadingWallet()) {
  <div class="skeleton-loader">
    <ngx-skeleton-loader
    count="1"
    [theme]="{ 'border-radius': '0', height: '50px', width: '200px' }">
  </ngx-skeleton-loader>
  <ngx-skeleton-loader
    count="1"
    [theme]="{ 'border-radius': '0', height: '50vh', width: '100%' }">
  </ngx-skeleton-loader>
  </div>
}@else {
  <app-breadcrumb [title]="title" [subtitle]="subtitle"/>

  @if(!!walletBehaviorService.getWallet()){
    <app-wallet-info />
  }@else {
    <app-empty-wallet />
  }
}
