<main>
  <div class="container mt-5">
    <div class="bg-gradient">
      <div class="d-flex justify-content-center align-items-center h-100 w-100">
        <div>
          <h1 class="text-light text-center title">A sua plataforma para gestão de investimentos</h1>
          <p class="text-light text-center mt-5 fs-5 subtitle">
            Gerencie seus investimentos de forma fácil e descomplicada. Crie sua carteira e
            adicione as suas transações e tenha todos os dados centralizados e organizados
            para uma melhor tomada de decisão.
          </p>
        </div>
      </div>
    </div>
  </div>
</main>
