.bg-gradient{
  background-color: #0093E9 !important;
  background-image: linear-gradient(2deg, #0093E9 0%, #80D0C7 100%) !important;
  height: 80vh;
  border-radius: 40px;
}

.title{
  font-size: 3rem;
  padding: 0 200px;
  font-weight: 700;
  color: white;
}

.subtitle{
  padding: 0 200px;
}
