<div class="container mt-5">
  <h1 class="text-center mb-5">Ações</h1>
  <div class="row">
    <div class="col-sm-12 col-md-6 mb-5">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title text-center mb-5">Maiores Altas</h5>
          <ul class="list-group list-group-flush d-flex ">
            <app-asset-item [assets]="stockAscCloseQuote" [isLoading]="isLoadingStocks"/>
          </ul>
        </div>
      </div>
    </div>
    <div class=" col-sm-12 col-md-6 mb-5">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title text-center mb-5">Maiores Baixas</h5>
          <ul class="list-group list-group-flush d-flex ">
            <app-asset-item [assets]="stockDescCloseQuote" [isLoading]="isLoadingStocks" [isUp]="false"/>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <h1 class="text-center mb-5">Fundos Imobiliários</h1>
  <div class="row">
    <div class="col-sm-12 col-md-6 mb-5">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title text-center mb-5">Maiores Altas</h5>
          <ul class="list-group list-group-flush d-flex ">
            <app-asset-item [assets]="fundAscCloseQuote" [isLoading]="isLoadingStocks"/>
          </ul>
        </div>
      </div>
    </div>
    <div class=" col-sm-12 col-md-6 mb-5">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title text-center mb-5">Maiores Baixas</h5>
          <ul class="list-group list-group-flush d-flex ">
            <app-asset-item [assets]="fundDescCloseQuote" [isLoading]="isLoadingStocks" [isUp]="false"/>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
