<div class="container mt-5">
  <h1 class="text-center mb-5">Ações</h1>
  <div class="row">
    <div class="col-sm-12 col-md-6 mb-5">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title text-center mb-5">Maiores Altas</h5>
          <ul class="list-group list-group-flush d-flex ">
            @if(!isLoadingStocks){
                @for(stock of stockAscCloseQuote; track stock.stock){
                  <li class="list-group-item">
                    <img src="{{stock.logo}}" alt="" class="image-stock">
                    {{stock.stock}}
                  </li>
                }
            }@else {
              <li class="list-group-item">Carregando...</li>
            }
          </ul>
        </div>
      </div>
    </div>
    <div class=" col-sm-12 col-md-6 mb-5">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title text-center mb-5">Maiores Baixas</h5>
          <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="card-link">Card link</a>
          <a href="#" class="card-link">Another link</a>
        </div>
      </div>
    </div>
  </div>
</div>
