<app-actions />
<div class="d-flex justify-content-center align-items-center w-100">
  <div class="total-amount w-100">
    <div class="card w-100">
      <div class="card-body">
        <div class="d-flex justify-content-start gap-2 mb-3">
          <i class="bi bi-wallet2 fw-light"></i>
          <h5 class="fw-light text-gray">Saldo</h5>
        </div>
        <h1 class="fw-light text-gray fs-5">R$ 0,00</h1>
      </div>
    </div>
  </div>
</div>
<div class="d-flex justify-content-center align-items-center w-100 mt-2">
  <div class="total-spent w-100">
    <div class="card w-100">
      <div class="card-body">
        <div class="d-flex justify-content-start gap-2 mb-3">
          <i class="bi bi-piggy-bank fw-light"></i>
          <h5 class="fw-light text-gray">Total Investido</h5>
        </div>
        <h1 class="fw-light text-gray fs-5">R$ 0,00</h1>
      </div>
    </div>
  </div>
</div>
<div class="d-block  d-md-flex justify-content-center align-items-center w-100 mt-2 gap-3">
  <div class="distribution">
    <div class="card w-100">
      <div class="card-body">
        <div class="d-flex justify-content-start gap-2 mb-3">
          <h5 class="fw-light text-gray">Distribuição dos ativos</h5>
        </div>
        <h1 class="fw-light text-gray fs-5">R$ 0,00</h1>
      </div>
    </div>
  </div>
  <div class="assets">
    <div class="card w-100">
      <div class="card-body">
        <div class="d-flex justify-content-start gap-2 mb-3">
          <h5 class="fw-light text-gray">Ativos</h5>
        </div>
        <h1 class="fw-light text-gray fs-5">R$ 0,00</h1>
      </div>
    </div>
  </div>
</div>
