<nav class="navbar navbar-expand-lg navbar-light bg-light py-3" [ngClass]="{'navbar-scrolled': isScrolled}">
  <div class="container d-flex">
    <a class="navbar-brand" href="#">INVESTTRACK</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar" aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-center" id="navbar">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#stocks">Ações</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#funds">FII's</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#cryptos">Criptomedas</a>
        </li>

        <li class="nav-item d-lg-none">
        @if (userAuthenticationService.isUserAuthenticated){
          <a routerLink="/dashboard">
            <button class="btn btn-personalized">
              <i class="bi bi-person pe-1"></i>
              {{userAuthenticationService.getUserAuthenticated.name}}
            </button>
          </a>
        } @else {
          <a routerLink="/auth"><button class="btn btn-personalized w-100 my-2">Login</button></a>
        }
        </li>
      </ul>
    </div>
    <div class="d-flex d-none d-lg-flex align-items-center gap-5">
      <div class="form-check form-switch d-flex align-items-center">
        <span class="mx-5">Light</span>
        <input
        class="form-check-input"
        type="checkbox"
        id="themeSwitch"
        [checked]="isDarkTheme"
        (change)="toggleTheme()"
        />
        <span class="mx-2">Dark</span>
      </div>
      @if (userAuthenticationService.isUserAuthenticated){
        <a routerLink="/dashboard">
          <button class="btn btn-personalized">
            <i class="bi bi-person pe-1"></i>
            {{userAuthenticationService.getUserAuthenticated.name}}
          </button>
        </a>
      } @else {
        <a routerLink="/auth"><button class="btn btn-personalized">Login</button></a>
      }
    </div>
  </div>
</nav>
