@import 'bootstrap/dist/css/bootstrap.min.css';

:root {
  --background-color: #f8f9fa;
  --text-color: #333;
  --primary-color: #007bff;
  --nav-link-color: #333;
  --nav-link-hover-color: #007bff;
  --card-bg-color: #fff;
  --skeleton-bg-color: #eff1f6 ;
}

:root.dark-theme {
  --background-color: #313131;
  --text-color: #ffffff;
  --primary-color: #1e88e5;
  --nav-link-color: #ffffff;
  --nav-link-hover-color: #1e88e5;
  --card-bg-color: #424242;
  --skeleton-bg-color: #5f5f5f;
}

a{
  cursor: pointer;
  text-decoration: none;
  color: var(--text-color);
}

.btn-personalized{
  border: 1px solid #80D0C7;
  color: #80D0C7;
  font-weight: 600;
}

.btn-personalized:hover{
  background-color: #80D0C7;
  color: white;
}

body{
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    line-height: 1.5;
    background-color: var(--background-color);
    color: var(--text-color) !important;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.nav-link {
  color: var(--nav-link-color) !important;
  transition: color 0.3s ease;
}

.card{
  border: none !important;
}

.card-body{
  color: var(--text-color) !important;
  background-color: var(--card-bg-color);
}

.list-group-item{
  color: var(--text-color) !important;
  background-color: var(--card-bg-color);
}

.navbar-brand{
  color: var(--nav-link-color) !important;
}

.nav-link:hover {
  color: var(--nav-link-hover-color) !important;
}

.modal-content {
  background-color: var(--card-bg-color);
  color: var(--text-color);
}

ngx-skeleton-loader {
  > div {
    background: var(--skeleton-bg-color) !important;
    border-radius: 10px !important;
  }
}
