.image-stock{
  width: 25px;
  height: auto;
}

li{
  border-left: none !important;
  border-right: none !important;

  @media screen and (max-width: 768px) {
    flex-wrap: wrap;

  }
}

.list-group-item:first-child {
  border-top: none !important;
  border-top-left-radius: 0px !important;
  border-top-right-radius: 0px !important;
}

.list-group-item:last-child{
  border-bottom: none !important;
}
