<div class="container-fluid padl-0">
  <div class="row">
    <div class="col-12 col-md-3">
      <app-navbar />
    </div>
    <div class="col-12 col-md-9 px-5 py-4">
      <div class="d-flex d-none d-md-flex justify-content-end w-100 mb-5 pe-md-5">
        <button class="btn btn-personalized">
          <i class="bi bi-person pe-1"></i>
          @if(userAuthenticationService.getUserAuthenticated.name){
            {{userAuthenticationService.getUserAuthenticated.name.split(' ')[0]}}
          }
        </button>
      </div>
      @if(dashboardBehaviorService.toggleDashboardTab$() == 'wallet'){
        <div class="pe-md-5">
          <app-wallet/>
        </div>
      }@else {
        <app-transactions />
      }
    </div>
  </div>
</div>
