<div class="container-fluid padl-0">
  <div class="row">
    <div class="col-md-2">
      <div class="bg-gradient d-block justify-content-center align-items-center px-5 py-4">
        <h1 class="text-light fs-2 w-100 text-center">
          InvestTrack
        </h1>
        <div class="menu mt-5">
          <button
              class="btn fs-5 border-3 pb-2 d-flex justify-content-center align-items-center gap-2 text-light w-100
              border-top-0 border-end-0 border-start-0 border-bottom-5 rounded-0  border-light"
              (click)="dashboardBehaviorService.toggleDashboardTab('wallet')"
              [ngClass]="{'border-bottom-0': dashboardBehaviorService.toggleDashboardTab$() != 'wallet'}">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-wallet2" viewBox="0 0 16 16">
                <path d="M12.136.326A1.5 1.5 0 0 1 14 1.78V3h.5A1.5 1.5 0 0 1 16 4.5v9a1.5 1.5 0 0 1-1.5 1.5h-13A1.5 1.5 0 0 1 0 13.5v-9a1.5 1.5 0 0 1 1.432-1.499zM5.562 3H13V1.78a.5.5 0 0 0-.621-.484zM1.5 4a.5.5 0 0 0-.5.5v9a.5.5 0 0 0 .5.5h13a.5.5 0 0 0 .5-.5v-9a.5.5 0 0 0-.5-.5z"/>
              </svg>
              Carteira
          </button>
          <button
                class="btn mt-5 fs-5 border-3 pb-2 d-flex justify-content-center align-items-center gap-2 text-light w-100
                border-top-0 border-end-0 border-start-0 border-bottom-5 rounded-0  border-light"
                (click)="dashboardBehaviorService.toggleDashboardTab('transactions')"
                [ngClass]="{'border-bottom-0': dashboardBehaviorService.toggleDashboardTab$() != 'transactions'}">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-cash-stack" viewBox="0 0 16 16">
                  <path d="M1 3a1 1 0 0 1 1-1h12a1 1 0 0 1 1 1zm7 8a2 2 0 1 0 0-4 2 2 0 0 0 0 4"/>
                  <path d="M0 5a1 1 0 0 1 1-1h14a1 1 0 0 1 1 1v8a1 1 0 0 1-1 1H1a1 1 0 0 1-1-1zm3 0a2 2 0 0 1-2 2v4a2 2 0 0 1 2 2h10a2 2 0 0 1 2-2V7a2 2 0 0 1-2-2z"/>
                </svg>
                Transações
            </button>
        </div>
      </div>
    </div>
    <div class="col-md-10">

    </div>
  </div>
</div>
